@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  "Tiro Devanagari Hindi", serif;
  font-weight: 500;
}
body {
  position: relative;
  padding: 0 10px;
  min-height: 100vh;
  background: radial-gradient(circle, rgb(255 0 0 / 85%) 0%, rgb(0 158 255 / 70%) 100%);
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrapper {
  width: 440px;
  padding: 30px 30px 38px;
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  border-radius: 10px;
  flex-direction: column;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}
.wrapper h1 {
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0;
  font-family: "Poppins", "Tiro Devanagari Hindi", serif;
}
/* Buttons Styling */
.buttons {
  display: flex;
  width: 25vw;
  justify-content: space-around;
  gap: 20px;
}
button {
  border: none;
  color:black;
  outline: 1px solid rgb(0, 0, 0);
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
  cursor: pointer;
  font-size: 20px;
  transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  padding: 10px 25px;
  margin-top: 20px;
  border-radius: 5px;
}
.Button:nth-child(1) {
  background: green;
}
.Button:nth-child(2) {
  background:yellow;
}
.Button:nth-child(3) {
  background:red;
}
.Button:active{
    transform: scale(.9);
    box-shadow: none;
}
